*{
    padding: 2px;
}
table#t_ppto{
    width: 90%;
    white-space:nowrap;
    padding: none;
    margin: none;
}
table#t_ppto td input {
    width: 50px;
}
input{
    border:none;
}
td{
    width: fit-content;
    border:1px solid;
}
table#t_caja_inicial{
    width: 20%;
    white-space: nowrap;
    padding: none;
    margin: none;
    border-bottom: 1px solid black;
    text-align: center;
}
table#t_caja_inicial td input{
    text-align: center;
}
