*{
    padding: 2px;
}
table#t_ppto{
    width: 90%;
    white-space:nowrap;
    padding: none;
    margin: none;
}
table#t_ppto td input {
    width: 50px;
}
input{
    border:none;
}
td{
    border:1px solid;
}
table#t_cf{
    width: 90%;
    white-space:nowrap;
    padding: none;
    margin: none;
}
.negativo{
    color : red;
}
